*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
.Winner{
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
.playB{
    position: absolute;
    cursor: pointer;
    height: 50px;
    width: 100px;
    font-size: 2rem;
    opacity: 1;
    background: red;
    outline: none;
    border: none;
    top: 80%;
    left: 45.5%;
}

/* nameTag */
.PLAYER{ 
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    opacity: 0;
    
}
.Box-element{
    z-index: 5;
    height: 100px;
    width: 100px;
   border: 3px solid black;
   cursor: pointer;
   pointer-events: none;
   

}

.player2{
    margin-top: 1rem;
    margin-left: 1rem;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    border: 10px solid black;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
}

.player1 {
    margin-left: 1.9rem;
    position: relative;
}

.player1::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 0;
    height: 90px;
    width: 15px;
    margin-top: 1.5px;
    background: black;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
    transform:rotate(45deg);
    
}

.player1::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 0;
    height: 90px;
    width: 15px;
    margin-top: 1.5px;
    background: black;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
    transform:rotate(-45deg);
}

.Reset{
    position: absolute;
    height: 30px;
    width: 50px;
    top: 30rem;
    left: 48%;
    opacity: 0;
    background: lightgrey;
    border: none;
    cursor: pointer;
    outline: none;
   

}
.WinnerCon{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    position: absolute;
    left: 40.5%;
    top: 6rem;
    opacity: 1;
}

.chkID{
    height: 100px;
    width: 100px;
    border: 3px solid black;
    opacity: 0;
}

.create, .join, .btn_join, .btn_create, .timer{
    position: absolute;
    top: 30%;
    left:  50%;
    transform: translate(-50%,-50%);
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
    pointer-events: all;
}

.timer{
    top: 15%;
    font-size: 50px;
}
.create{
    left: 60%;
}

.join{
    left: 39%;
}

#hg, #jg, #username{
    position: absolute;
    top: 40%;
    left:  50%;
    transform: translate(-50%,-50%);
    outline: none;
    height: 50px;
    border: none;
    opacity: 1;
    pointer-events: all;
}

#hg{
    left: 60%;
}

#jg{
    left: 39%;
}
#username{
    top: 55%;
    border: 1px solid black;
    padding-left: 92px;
    font-size: 15px;
}
.btn_create,.btn_join{
    top: 40%;
    border: none;
    background: rgb(243, 55, 55);
    height: 20px;
    cursor: pointer;
    opacity: 1;
    pointer-events: all;
}

.btn_create{
    left: 65%;
}

.btn_join{
    left: 45%;
}
.ScoringCon, .span, .p1Score, .p2Score, .turn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0;
}

.ScoringCon{
    top: 85vh;
}
.ScoringCon h1{
    left: px;
}
.p2Score, .p1Score{
    top: 4rem; 
}
.p1Score{
    left: 53px !important;
}
.p2Score{
    left: 123px !important;
}
.span{
    top: 50%;
}
.span{
    top: 4rem !important;
    left: 89px !important;
}

.turn{
    top: 5%;
    font-size: 3rem;
}
.direction{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    max-width: 500px;
    border: 1px solid black;
    opacity: 1;
}

